/* Sass Document */

@charset "utf-8";
@import "bourbon/core/bourbon";
@import "vars";


$hover_color:rgba(172, 164, 164, 0.548);// hover on indicators


#map {
    @include position(absolute, 0px);
    z-index: -10; //background: green;
}

.indicators {
    //background: rgb(99, 60, 136);
    @include size (200px, 200px);
    display: flex;
    flex-direction: column;
    //justify-content: space-around;
    position: absolute;
    margin-left:$align_from_border;
    //left: 2.142em;
    font-size: 84%;
    bottom: 9.5em;
    z-index: 3;
    white-space: nowrap;
}



.indicators a{
    &:before {
        content: "";
        background: #fff;
        box-shadow: 0 1.5px 3px rgba(0,0,0,.25);
        border-radius: 2em;
        width: 2.142em;
        height: 2.142em;
        position: absolute;
        overflow: hidden;
        transition: .2s;
        background: url("/dist/img/icons_prepinac_v3.svg") no-repeat;
    }
    span{
        margin-left:3em; // отступ индикаторов
        padding: 0.45em 1.25em;
        line-height: 30px;// check it!!
        background: #fff;
        box-shadow: 0 1.5px 3px rgba(0,0,0,.25);
        border-radius: 12em;
        &:hover{
            cursor: pointer;
            background:rgba(172, 164, 164, 0.548);
        }
    }

}


.indicators a.temperature {
        &:before {
            //background: black;
            background-position: 0 -90px;
        }
    }

#indicators a span.radar {
        &:before {
            background-position: -180px;
        }
    }

select[name="select_month"], select[name="select_period"], select[name="select_subindicator"] {
    left:2.142em;
    font-size: 84%;
    padding: 0.45em 1.25em;
    background: #fff;
    box-shadow: 0 1.5px 3px rgba(0,0,0,.25);// test
    border-radius: 2em;
    margin-left:3.45em; // отступ индикаторов
    padding: 0.45em 1.25em;
    width: 10em;
    appearance: none;
    background-image: url("/dist/img/dr_won_narrow.png");
    background-size: 20%;
    background-position: 98% center;
    background-repeat: no-repeat;
    outline: none;
    border: 1px solid #DDD;
    height: 30px;

}

.active_indicator {
    cursor: pointer;
    background:$active_element_colour!important;
}

.active_icon {
    &:before {
        background-color:$active_element_colour!important;
    }
}