@import "bourbon/core/bourbon";
@import "vars";

.slider_box {
    background:yellow;
    @include size (auto, $header_slider_h);
    @include padding(0px 0px);
    @include margin (null null $align_from_border null);
}
.current_year {
    font-size: 1.4em;
    text-align: center;
    line-height: 50px;// check it!!
}
.year_switcher {
    @include size ($header_slider_h);
}